/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Lora', serif;
  font-size: medium;
  text-align: center;
}

.youtube-player { display: block; margin: 0 auto; }

blockquote {
  margin-left: 25px;
}

ul {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

span.author {
  color: #aaa;
  display: block;
}

span.date {
  color: #aaa;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

@media screen and (max-device-width: 480px){
  body { -webkit-text-size-adjust: 100%; }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

code {
  font-family: 'Inconsolata', sans-serif;
  font-size: medium;
}

ul.posts span {
  color: #aaa;
  font-family: 'Inconsolata', sans-serif;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: left;
  width: 65em;
  padding: 0px 10px 10px 10px;
  margin: 3em auto 3em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 90%;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding-left: .4em;
  overflow-x: auto;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
}

#post pre code {
  border: none;
}

/* terminal */
#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 50%;
  padding: 10px;
  vertical-align: top;
}

.site .footer {
  padding-top: 20px;
}

.site .footer .contact .bio {
  width: 1040px;
}

.site .footer .contact .photo {
  margin-top: 20px;
  width: 200px;
  border: 1px solid black;
  float: left;
  margin-right: 20px;
  margin-bottom: 3em;
}

.new {
  padding-bottom: 30px;
  border-bottom: 4px solid #eee;
}
