<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>

        <script type="text/javascript"
                src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://tikzjax.com/v1/fonts.css">
        <script src="http://tikzjax.com/v1/tikzjax.js"></script>
    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
              <a class="extra" href="/research.html">research</a>
              <a class="extra" href="/courses.html">courses</a>
              <a class="extra" href="/publications.html">publications</a>
              <a class="extra" href="/videos.html">videos</a>
              <a class="extra" href="http://github.com/cmeiklejohn">code</a>
              <a class="extra" href="/meiklejohn-cv.pdf">curriculum vitae</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <img src="/me.jpg" alt="My Photo!" class="photo" />
                <div class="bio">
                  <p>
                    Christopher S. Meiklejohn is a Software Engineering Ph.D. candidate in the <a href="https://s3d.cmu.edu">Software and Societal Systems Department</a> at the <a href="https://www.scs.cmu.edu">School of Computer Science</a> of <a href="http://cmu.edu">Carnegie Mellon University.</a>
                    <br/>
                    <a href="mailto:christopher.meiklejohn@gmail.com">christopher.meiklejohn@gmail.com</a><br />
                    <a href="mailto:cmeiklej@andrew.cmu.edu">cmeiklej@andrew.cmu.edu</a><br />
                    <br/>
                    <a href="http://filibuster.cloud">filibuster.cloud</a><br />
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-13258404-3', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
